<section class="profile">
  <div class="profile__container">
    <h1 class="profile__title">Profile: Mohammed Assaf</h1>

    <!-- Overview Section -->
    <div class="profile__section">
      <h2 class="profile__subtitle">Overview</h2>
      <p class="profile__description">
        Front End Developer with 8+ years of experience in developing high-performance web applications using Angular.
        Proven track record of enhancing performance and user satisfaction through innovative solutions and proactive
        project leadership. Skilled in creating dynamic, responsive applications that adhere to modern web standards and
        best practices.
      </p>
    </div>

    <!-- Experience Section -->

    <!-- Experience Section -->
    <div class="profile__section profile__section--highlight">
      <h2 class="profile__subtitle">Work Experience</h2>
      <ul class="profile__experience-list">
        <li class="profile__experience-list--item">
          <h3 class="profile__experience-list--item__title">Senior Front End Developer</h3>
          <p class="profile__experience-list--item__company">Zeus Manager</p>
          <p class="profile__experience-list--item__dates">December 2023 – May 2024, Barcelona, Spain</p>
          <p class="profile__experience-list--item__description">
            Enhanced consumer engagement via the implementation of responsive and on-hand design, ensuring compatibility across diverse browsers and devices.<br>
            Boosted utility pace through the use of advanced JavaScript and TypeScript optimization techniques.<br>
            Improved code quality and decreased the bug rate through thorough testing and debugging.<br>
            Enhanced team skill proficiency and improved project delivery through effective mentorship of junior developers.<br>
            Accelerated development processes and reduced time to market by pioneering the use of modern web frameworks and libraries.
          </p>
        </li>
        <li class="profile__experience--item">
          <h3 class="profile__experience-list--item__title">Senior Front End Developer</h3>
          <p class="profile__experience-list--item__company">CIC IT Consultant</p>
          <p class="profile__experience-list--item__dates">December 2021 – September 2023, Cairo, Egypt</p>
          <p class="profile__experience-list--item__description">
            Led a team of 15 developers in building a high-performance single-page application using Angular, achieving a 30% reduction in load times.<br>
            Implemented responsive and accessible design, ensuring cross-browser and cross-device compatibility, which increased user engagement by 25%.<br>
            Optimized application performance with advanced JavaScript and TypeScript techniques, enhancing speed by 40%.<br>
            Maintained high code quality through rigorous testing and debugging, reducing the bug rate by 20%.<br>
            Mentored junior developers, improving team proficiency and project delivery speed by 15%.<br>
            Pioneered modern web frameworks and libraries, increasing development efficiency and reducing time to market by 20%.
          </p>
        </li>
        <li class="profile__experience--item">
          <h3 class="profile__experience-list--item__title">Senior Front End Developer</h3>
          <p class="profile__experience-list--item__company">YOUXEL Technology</p>
          <p class="profile__experience-list--item__dates">February 2019 – January 2021, Cairo, Egypt</p>
          <p class="profile__experience-list--item__description">
            Collaborated with design teams to integrate user interfaces into scalable web applications, boosting user satisfaction scores by 30%.<br>
            Engineered complex web systems, improving system accessibility and responsiveness, leading to a 20% rise in daily active users.<br>
            Contributed to front-end framework selection and implementation, streamlining project workflows by 15%.<br>
            Initiated a project for code modularity and reuse, reducing development costs by 20%.
          </p>
        </li>
        <li class="profile__experience-list--item">
          <h3 class="profile__experience-list--item__title">Full Stack Developer</h3>
          <p class="profile__experience-list--item__company">ASIS</p>
          <p class="profile__experience-list--item__dates">March 2015 – February 2019, Cairo, Egypt</p>
          <p class="profile__experience-list--item__description">
            Developed customer-facing single-page applications using Angular, HTML, CSS, JavaScript, and TypeScript, increasing client retention by 30%.<br>
            Participated in the full software development lifecycle, delivering projects ahead of schedule by 15%.<br>
            Enhanced application performance and scalability with advanced web development tools, improving load times by 25%.<br>
            Mentored new team members, improving overall team performance by 20%.
          </p>
        </li>
        <li class="profile__experience--item">
          <h3 class="profile__experience-list--item__title">Full Stack Developer</h3>
          <p class="profile__experience-list--item__company">Orbits</p>
          <p class="profile__experience-list--item__dates">April 2005 – February 2015, Cairo, Egypt</p>
          <p class="profile__experience-list--item__description">
            Developed end-to-end web applications using front-end technologies (HTML, CSS, JavaScript, AngularJS) and back-end technologies (C#, ASP.NET, SQL Server).<br>
            Deployed applications, optimized performance, and ensured security, reducing vulnerabilities by 30%.<br>
            Committed to continuous learning and adopting the latest .NET technologies and development methodologies.
          </p>
        </li>
      </ul>
    </div>

    <!-- Education Section -->
    <div class="profile__section">
      <h2 class="profile__subtitle">Education</h2>
      <ul class="profile__education-list">
        <li class="profile__education-list--item">
          <h3 class="profile__education-list--item__title">Master of Business Administration</h3>
          <p class="profile__education-list--item__institution">WSGE University, Poland</p>
          <p class="profile__education-list--item__dates">June 2024 - Present</p>
        </li>
        <li class="profile__education-list--item">
          <h3 class="profile__education-list--item__title">Master of Information Technology</h3>
          <p class="profile__education-list--item__institution">Capella University, USA</p>
          <p class="profile__education-list--item__dates">December 2023 - Present</p>
        </li>
        <li class="profile__education-list--item">
          <h3 class="profile__education-list--item__title">Master of Business Analytics & Data Science</h3>
          <p class="profile__education-list--item__institution">EU Business School, Spain</p>
          <p class="profile__education-list--item__dates">September 2023 - June 2024</p>
        </li>
        <li class="profile__education-list--item">
          <h3 class="profile__education-list--item__title">Bachelor of Geographic Information Systems (GIS)</h3>
          <p class="profile__education-list--item__institution">Ain Shams University, Egypt</p>
          <p class="profile__education-list--item__dates">September 2000 - June 2004</p>
        </li>
        <!-- Add more education items here -->
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="profile__section">
      <h2 class="profile__subtitle">Contact Information</h2>
      <p class="profile__description">
        <strong>Location: </strong>  Wrocław, Dolnośląskie, Poland<br>
        <strong>Phone: </strong> +48 889739252<br>
        <strong>Email: </strong>  <a href="mailto:snopbear@gmail.com" class="profile__link" target="_blank">snopbear&#64;gmail.com</a><br>
        <strong>GitHub: </strong> <a href="https://www.github.com/snopbear"
          class="profile__link" target="_blank"> github.com/snopbear</a><br>
        <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/mohammed-assaf-7a08a8133/"
         target="_blank" class="profile__link">linkedin.com/in/mohammed-assaf-7a08a8133/</a>
      </p>
    </div>
  </div>
</section>