<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Start Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
<aside class="side-nav">
  <div class="side-nav__content">
    <div class="side-nav__content--logo">
      <img src="./assets/atipera_logo.png" alt="logo">
    </div>
    <ul class="side-nav__content--social">
      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter" target="_blank"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram" target="_blank"></i></a></li>
    </ul>
  </div>
</aside>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* End Side Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->